<div class="mentee-detail__wrap">
  <form (submit)="editMentee()" [formGroup]="menteeForm" class="mentee-detail__form">

    <mat-form-field appearance="outline" class="mentee-detail__field">
      <mat-label>Имя</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mentee-detail__field">
      <mat-label>Фамилия</mat-label>
      <input matInput formControlName="surname">
    </mat-form-field>

    <mat-form-field appearance="outline" class="mentee-detail__field">
      <mat-label>Возраст</mat-label>
      <mat-select formControlName="age">
        <mat-option *ngFor="let age of ages" [value]="age">
          {{age}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mentee-detail__field">
      <mat-label>Пол</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="male">Мужской</mat-option>
        <mat-option value="female">Женский</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mentee-detail__field">
      <mat-label>Интересы</mat-label>
      <textarea matInput formControlName="interests"></textarea>
    </mat-form-field>
    <div class="mentee-detail__actions" *ngIf="menteeForm.touched">
      <button
        class="mentee-detail__btn" color="primary" [disabled]=" !menteeForm.valid" mat-stroked-button type="submit"
      >Сохранить
        изменения
      </button>
      <button class="mentee-detail__btn" mat-stroked-button type="button" (click)="clearChanges()">Отмена</button>
    </div>
  </form>
  <img src="assets/img/statistic.png" alt="" class="mentee-detail__img">
</div>
<table mat-table [dataSource]="courses" class="mentee-detail__table">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Дата</th>
    <td mat-cell *matCellDef="let course">{{course.date}}</td>
  </ng-container>

  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef>Курс</th>
    <td mat-cell *matCellDef="let course">{{course.course}}</td>
  </ng-container>

  <ng-container matColumnDef="lesson">
    <th mat-header-cell *matHeaderCellDef>Занятие</th>
    <td mat-cell *matCellDef="let course">{{course.lesson}}</td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef>Комментарий к занятию</th>
    <td mat-cell *matCellDef="let course">{{course.comment}}</td>
  </ng-container>

  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef>Результат</th>
    <td mat-cell *matCellDef="let course">{{course.result}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="mentee-detail__actions">
  <button type="button" mat-stroked-button color="primary" (click)="addCourse()" class="mentee-detail__btn">Добавить
    курс
  </button>
  <button type="button" mat-stroked-button color="warn" (click)="archiveMentee()" class="mentee-detail__btn">Отправить
    подопечного в
    архив
  </button>
</div>
