:host {
  padding: 20px;
}

.mentee-detail__wrap {
  //width: 35%;
}

.mentee-detail__form {
  display: flex;
  flex-direction: column;
}

.mentee-detail__table {
  margin-bottom: 20px;
}

.mentee-detail__btn {
  margin-right: 15px;
}

.mentee-detail__wrap {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.mentee-detail__form {
  width: 35%;
}

.mentee-detail__img {
  width: auto;
  height: 350px;
}


@media (max-width: 768px) {
  .mentee-detail__wrap {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .mentee-detail__form {
    width: 100%;
  }

  .mentee-detail__actions {
    display: flex;
    flex-direction: column;
  }

  .mentee-detail__btn {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .mentee-detail__img {
    height: 250px;
  }
}
