.dialog__form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 15px auto;
}

.dialog__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog__img {
  width: 200px;
}

.dialog__actions {
  justify-content: center;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

:host ::ng-deep  .mat-mdc-tab-body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host ::ng-deep .mat-mdc-dialog-surface {
  padding: 15px;
}

