<div class="dialog__header">
  <button mat-icon-button class="close-button" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <h2 mat-dialog-title>Добавить подопечного</h2>
  <img class="dialog__img" src="../../../assets/img/login.png" alt="login">
</div>
<mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Ввести данные">
      <form [formGroup]="menteeForm" class="dialog__form">
        <mat-form-field appearance="outline" class="dialog__field">
          <mat-label>Имя</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="dialog__field">
          <mat-label>Фамилия</mat-label>
          <input matInput formControlName="surname" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="dialog__field">
          <mat-label>Дата рождения</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dob" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="dialog__field">
          <mat-label>Пол</mat-label>
          <mat-select formControlName="gender" required>
            <mat-option value="male">Мужской</mat-option>
            <mat-option value="female">Женский</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="dialog__field">
          <mat-label>Интересы</mat-label>
          <textarea matInput formControlName="interests" required></textarea>
        </mat-form-field>
      </form>
      <mat-dialog-actions class="dialog__actions">
        <button mat-button type="button" (click)="close()">Пройти тест</button>
        <button mat-button [disabled]="menteeForm.invalid" (click)="submit()">Сохранить</button>
      </mat-dialog-actions>
    </mat-tab>

    <mat-tab label="Найти по телефону или e-mail">
      <!-- Здесь будет ваш код -->
      <mat-dialog-actions class="dialog__actions">
        <button mat-button [disabled]="menteeForm.invalid" (click)="submit()">Выслать код</button>
      </mat-dialog-actions>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<!--<mat-dialog-actions class="dialog__actions">-->
<!--  <button mat-button type="button" (click)="close()">Пройти тест</button>-->
<!--  <button mat-button [disabled]="menteeForm.invalid" (click)="submit()">Сохранить</button>-->
<!--</mat-dialog-actions>-->
