<header *ngIf="!isLoginPageOrRegisterPage">
  <div class="header__wrap">
    <img class="header__logo" src="../../../../assets/img/logo-short.svg" width="265" alt="MOZG logo"
         (click)="navigateToHome()">
    <mozg-menu></mozg-menu>
  </div>
</header>
