:host {
  box-shadow: 0 1px 5px lightgray;
  margin-bottom: 30px;
}

.header__wrap {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}


.header__logo {
  cursor: pointer;
  width: 160px;
}
