.organization__body {
  max-width: 1050px;
}

.organization__table {
  margin-bottom: 20px;
}

.organization__column {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &--city {
    width: 150px;
  }

  &--name {
    width: 300px;
  }

  &--comment {
    width: 250px;
  }

  &--balance {
    width: 50px;
  }

  &--actions {
    width: 50px;
  }
}
