<div class="organization__body">
  <table class="organization__table" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="city">
      <th mat-header-cell class="organization__column organization__column--city" *matHeaderCellDef mat-sort-header>
        Город
      </th>
      <td
        mat-cell class="organization__cell organization__cell--city" *matCellDef="let organization"
      > {{organization.city}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell class="organization__column organization__column--name" *matHeaderCellDef mat-sort-header>
        Организация
      </th>
      <td
        mat-cell class="organization__column organization__column--name" *matCellDef="let organization"
      > {{organization.name}} </td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th mat-header-cell class="organization__column organization__column--comment" *matHeaderCellDef mat-sort-header>
        Комментарий
      </th>
      <td
        mat-cell class="organization__column organization__column--comment" *matCellDef="let organization"
      > {{organization.comment}} </td>
    </ng-container>

    <ng-container matColumnDef="balance">
      <th mat-header-cell class="organization__column organization__column--balance" *matHeaderCellDef mat-sort-header>
        Оплачено
      </th>
      <td
        mat-cell class="organization__column organization__column--balance" *matCellDef="let organization"
      > {{organization.balance.value}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell class="organization__column organization__column--actions" *matHeaderCellDef>Действия</th>
      <td mat-cell class="organization__column organization__column--actions" *matCellDef="let organization">
        <button mat-icon-button (click)="$event.stopPropagation(); deleteOrganization(organization.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr style="cursor: pointer"  mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateToOrganizationPage(row.id)"></tr>
  </table>
  <button disabled="true" mat-stroked-button>Добавить организацию</button>
</div>
