.auth__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.auth__form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.auth__title {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
}

.auth__buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
}

.auth__button {
  margin-top: 10px;
}

.auth__img {
  width: 150px;
  height: auto;
}

.auth__field {
  margin-top: 20px;
  width: 100%;
}

.confirm-password__wrap {
  width: 100%;
  position: relative;
}

.confirm-password__error {
  position: absolute;
  left: 17px;
  bottom: 0;
  font-size: 12px;
}


// TODO material overrides
:host ::ng-deep {
  .mat-step-label {
    display: none;
  }

  .mat-horizontal-stepper-header-container {
    width: 300px;
    margin: 0 auto;
  }

  .mat-horizontal-stepper-header .mat-step-icon {
    margin: 0 8px;
    flex: none
  }

  .mat-mdc-checkbox {
    padding-right: 15px;
  }
}
