<div class="auth__container">
  <h1 class="auth__title">Регистрация</h1>
  <mat-horizontal-stepper linear orientation="horizontal" #stepper>
    <mat-step [stepControl]="signUpForm">
      <form class="auth__form" [formGroup]="signUpForm">

        <mat-form-field class="auth__field" appearance="outline">
          <mat-label>Имя</mat-label>
          <input type="text" matInput formControlName="firstName" required>
          <mat-error
            *ngIf="signUpForm.get('firstName')?.invalid && signUpForm.get('firstName')?.touched">
            Пожалуйста, введите ваше имя
          </mat-error>
        </mat-form-field>

        <mat-form-field class="auth__field" appearance="outline">
          <mat-label>Фамилия</mat-label>
          <input type="text" matInput formControlName="surname" required>
          <mat-error
            *ngIf="signUpForm.get('surname')?.invalid && signUpForm.get('surname')?.touched">
            Пожалуйста, введите вашу фамилию
          </mat-error>
        </mat-form-field>

        <mat-form-field class="auth__field" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input type="email" matInput formControlName="login" required>
          <mat-error *ngIf="signUpForm.get('login')?.invalid && signUpForm.get('login')?.touched">
            Пожалуйста, введите корректный E-mail
          </mat-error>
        </mat-form-field>

        <mat-form-field class="auth__field" appearance="outline">
          <mat-label>Телефон для связи</mat-label>
          <input type="tel" matInput formControlName="phone" required>
          <mat-error *ngIf="signUpForm.get('phone')?.invalid && signUpForm.get('phone')?.touched">
            Введите телефон
          </mat-error>
        </mat-form-field>

        <mat-form-field class="auth__field" appearance="outline">
          <mat-label>Пароль</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error
            *ngIf="signUpForm.controls['password'].value && signUpForm.controls['password'].errors && signUpForm.controls['password'].errors?.['minlength'] && signUpForm.get('password')?.touched">
            Пароль не менее 6 символов
          </mat-error>
        </mat-form-field>

        <div class="confirm-password__wrap">
          <mat-form-field class="auth__field" appearance="outline">
            <mat-label>Повторите пароль</mat-label>
            <input matInput type="password" formControlName="confirmPassword" required>
          </mat-form-field>
          <mat-error class="confirm-password__error"
                     *ngIf="signUpForm.errors && signUpForm.errors['mismatch'] && signUpForm.get('confirmPassword')?.touched">
            Пароли не совпадают
          </mat-error>
        </div>

        <mat-checkbox formControlName="isLegalEntity">Регистрируем юридическое лицо</mat-checkbox>

        <div class="auth__buttons">
          <button
            class="auth__button"
            mat-button
            color="primary"
            type="button"
            (click)="next(stepper)"
            [disabled]="signUpForm.invalid || signUpForm.disabled">Продолжить
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="confirmForm">
      <form class="auth__form" [formGroup]="confirmForm">
        <mat-form-field class="auth__field" appearance="outline">
          <mat-label>Проверочный код почты</mat-label>
          <input type="text" matInput formControlName="emailCode" required>
          <mat-error
            *ngIf="confirmForm.get('emailCode')?.invalid && confirmForm.get('emailCode')?.touched">
            Пожалуйста, введите код
          </mat-error>
        </mat-form-field>

        <mat-form-field class="auth__field" appearance="outline">
          <mat-label>Код из СМС</mat-label>
          <input type="text" matInput formControlName="smsCode" required>
          <mat-error
            *ngIf="confirmForm.get('smsCode')?.invalid && confirmForm.get('smsCode')?.touched">
            Пожалуйста, введите код
          </mat-error>
        </mat-form-field>

        <div class="auth__buttons">
          <button
            class="auth__button"
            mat-button
            type="button"
            (click)="back(stepper)">Назад
          </button>
          <button
            class="auth__button"
            mat-button
            color="primary"
            type="button"
            (click)="next(stepper)"
            [disabled]="confirmForm.invalid || confirmForm.disabled">Продолжить
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="moreInfoForm">
      <form class="auth__form" [formGroup]="moreInfoForm">
        <mat-form-field class="auth__field" appearance="outline">
          <mat-label>Укажите, с какой целью обращаетесь к нам</mat-label>
          <input type="text" matInput formControlName="goal" required>
          <mat-error *ngIf="moreInfoForm.get('goal')?.invalid && moreInfoForm.get('goal')?.touched">
            Пожалуйста, введите вашу цель
          </mat-error>
        </mat-form-field>

        <mat-form-field class="auth__field" appearance="outline">
          <mat-label>Определитесь с тарифом</mat-label>
          <mat-select formControlName="tariff" required>
            <!--        TODO enum-->
            <mat-option value="tariff1">Тариф 1</mat-option>
            <mat-option value="tariff2">Тариф 2</mat-option>
            <mat-option value="tariff3">Тариф 3</mat-option>
          </mat-select>
          <mat-error *ngIf="moreInfoForm.get('tariff')?.invalid && moreInfoForm.get('tariff')?.touched">
            Пожалуйста, выберите тариф
          </mat-error>
        </mat-form-field>

        <div class="auth__buttons">
          <button
            class="auth__button"
            mat-button
            type="button"
            (click)="back(stepper)">Назад
          </button>
          <button
            class="auth__button"
            mat-button
            color="primary"
            type="button"
            (click)="onSubmit()"
            *ngIf="!signUpForm.get('isLegalEntity')?.value"
            [disabled]="moreInfoForm.invalid || moreInfoForm.disabled">Завершить регистрацию
          </button>

          <button
            class="auth__button"
            mat-button
            color="primary"
            type="button"
            (click)="next(stepper)"
            *ngIf="signUpForm.get('isLegalEntity')?.value"
            [disabled]="moreInfoForm.invalid || moreInfoForm.disabled">Заполнить данные юр. лица
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="legalEntityForm" *ngIf="signUpForm.get('isLegalEntity')?.value">
  <form class="auth__form" [formGroup]="legalEntityForm">
    <mat-form-field class="auth__field" appearance="outline">
      <mat-label>Название вашей организации</mat-label>
      <input type="text" matInput formControlName="organizationName" required>
      <mat-error *ngIf="legalEntityForm.get('organizationName')?.invalid && legalEntityForm.get('organizationName')?.touched">
        Пожалуйста, введите название организации
      </mat-error>
    </mat-form-field>

    <mat-form-field class="auth__field" appearance="outline">
      <mat-label>ИНН</mat-label>
      <input type="text" matInput formControlName="inn" required>
      <mat-error *ngIf="legalEntityForm.get('inn')?.invalid && legalEntityForm.get('inn')?.touched">
        Пожалуйста, введите ИНН
      </mat-error>
    </mat-form-field>

    <mat-form-field class="auth__field" appearance="outline">
      <mat-label>Реквизиты</mat-label>
      <input type="text" matInput formControlName="requisites" required>
      <mat-error *ngIf="legalEntityForm.get('requisites')?.invalid && legalEntityForm.get('requisites')?.touched">
        Пожалуйста, введите реквизиты
      </mat-error>
    </mat-form-field>

    <div class="auth__buttons">
      <button
        class="auth__button"
        mat-button
        type="button"
        (click)="back(stepper)">Назад
      </button>
      <button
        class="auth__button"
        mat-button
        color="primary"
        type="button"
        (click)="onSubmit()"
        [disabled]="legalEntityForm.invalid || legalEntityForm.disabled">Завершить регистрацию
      </button>
    </div>
  </form>
</mat-step>
  </mat-horizontal-stepper>
</div>
