.home__wrap {
  width: 95%;
  margin: 0 auto;
}

.mentee__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/* Элемент | http://localhost:42002/ */

.mentee__body {
  max-width: 1050px;
}


.mentee__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mentee__btn {
  margin-right: 5px;
}

.mentee__title {
  font-size: 20px;
  font-weight: 500;
}

.mobile-description {
  display: none;
}

.mentee__column {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &--surname {
    width: 270px;
  }

  &--name {
    width: 270px;
  }

  &--age {
    width: 50px;
  }

  &--actions {
    width: 270px;
  }
}

.actions__wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.mentee__action-btn {
  margin-right: 5px;
}

.no-data {
  margin-top: 25px;
}

@media (max-width: 768px) {
  .mobile-description {
    display: inline;
  }
  .mentee__table {
    ::ng-deep .mat-mdc-header-row {
      display: none;
    }
  }

  tr {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    align-items: center;
    height: auto;
    padding: 10px;
    border: 1px solid #3f51b5;
    border-radius: 15px;
    margin: 10px auto;
    box-sizing: border-box;
  }

  td {
    width: 100%;
    border-width: 0;
  }

  .mentee__cell--name, .mentee__cell--surname {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  .actions__wrap {
    justify-content: center;
  }

  .mentee__cell--actions {
    text-align: center;
    padding-top: 10px;
  }
}
