<div class="home__wrap">
  <div class="home__body">
    <div class="mentee__wrap">
      <div class="mentee__header">
        <div class="mentee__title">
          Подопечные в арихиве
        </div>
      </div>
      <div class="mentee__body">
        <!--      <div class="mentee__body" *ngIf="dataSource.data.length; else noMenteeInArchive">-->
        <!--        {{dataSource.data | json}}-->
        <table mat-table [dataSource]="dataSource" matSort class="mentee__table">
          <ng-container matColumnDef="surname">
            <th mat-header-cell  class="mentee__column mentee__column--surname" *matHeaderCellDef mat-sort-header>Фамилия</th>
            <td mat-cell class="mentee__cell mentee__cell--surname" *matCellDef="let mentee"> {{mentee.surname}}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell  class="mentee__column mentee__column--name" *matHeaderCellDef>Имя</th>
            <td mat-cell class="mentee__cell mentee__cell--name" *matCellDef="let mentee"> {{mentee.name}}</td>
          </ng-container>
          <ng-container matColumnDef="age">
            <th mat-header-cell  class="mentee__column mentee__column--age" *matHeaderCellDef>Возраст</th>
            <td mat-cell class="mentee__cell mentee__cell--age" *matCellDef="let mentee"><span
              class="mobile-description">Возраст: </span>{{mentee.age}} <span class="mobile-description">лет</span></td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="mentee__column mentee__column--actions">Действия</th>
            <td mat-cell class="mentee__cell mentee__cell--actions" *matCellDef="let mentee">
              <div class="actions__wrap">
                <button class="mentee__action-btn" mat-stroked-button
                        color="primary" type="button" (click)="backFromArchive(mentee.id)">Вернуть из архива
                </button>
                <button class="mentee__action-btn" mat-icon-button
                        color="accent" type="button" (click)="removePermanently(mentee.id)">
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <ng-template #noMenteeInArchive>
        <div class="no-data"> В архиве пока нет подопечных</div>
      </ng-template>
    </div>
  </div>
</div>
