<div class="home__wrap">
  <div class="home__body" *ngIf="(courses$ | async)?.length">
    <div class="body__title">Список курсов</div>
    <div class="courses__list">
      <mat-accordion multi>
        <mat-expansion-panel *ngFor="let course of courses$ | async">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>{{ course.name }}</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            <!--            <div class="course__content" *ngFor="let description of course.description ">-->
            <div class="course__content-data">
              <!--                <h3 *ngIf="content.subTitle">{{content.subTitle}}</h3>-->
              <p>{{ course.description }}</p></div>
            <div class="course__content-actions">
              <button *ngIf="editMode" mat-icon-button (click)="editCourse(course, course.description)">
                <mat-icon>edit</mat-icon>
              </button>
              <button *ngIf="!editMode" mat-button (click)="addCourse(course.id)">Добавить</button>
            </div>
            <!--            </div>-->

          </mat-panel-description>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
