.home__wrap {
  width: 95%;
  margin: 0 auto;
}

.body__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 18px;
}

h3 {
  color: black;
}

.mat-expansion-panel-header-description {
  display: flex;
  flex-direction: row;
}

.course__content {
  margin-bottom: 5px;
  padding: 5px 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.course__content:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

.course__content-data {
  flex: 1;
  align-self: flex-start;

  p {
    text-align: left;
    color: black;
  }
}

.course__content-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

mat-expansion-panel.mat-expansion-panel {
  margin-bottom: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

@media (max-width: 768px) {
  .course__content {
    flex-direction: column;
  }
  .mat-expansion-panel-header-description {
    flex-direction: column;
  }
}


