<div class="auth__container">
  <form class="auth__form" [formGroup]="authForm">
  <img class="auth__img" src="../../../assets/img/login.png" alt="login">
    <mat-form-field class="auth__field" appearance="outline">
      <mat-label>Логин (email)</mat-label>
      <input type="email" matInput formControlName="email" required>
      <mat-error *ngIf="authForm.get('login')?.invalid && authForm.get('login')?.touched">
        Пожалуйста, введите корректный E-mail
      </mat-error>
    </mat-form-field>

    <mat-form-field class="auth__field" appearance="outline">
      <mat-label>Пароль</mat-label>
      <input matInput type="password" formControlName="password" required>
      <mat-error
        *ngIf="authForm.controls['password'].value && authForm.controls['password'].errors && authForm.controls['password'].errors['minlength'] && authForm.get('password')?.touched">
        Пароль не менее 6 символов
      </mat-error>
    </mat-form-field>

    <div class="auth__buttons">
      <button  class="auth__button" mat-button color="primary" type="button" [disabled]="authForm.invalid || authForm.disabled" (click)="login()">Войти</button>
      <button class="auth__button" mat-stroked-button color="accent" type="button" (click)="onSignUp()">Зарегистрироваться</button>
    </div>
  </form>
</div>
