.auth__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:  100vh;
}

.auth__form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
}

.auth__button {
  margin-top: 10px;
}

.auth__img {
  width: 290px;
  height: auto;
  margin-bottom: 30px;
}

.auth__field {
  margin-top: 20px;
  width: 100%;
}

