<div class="mentee__wrap">
  <div class="mentee__header">
    <div class="mentee__title">
      Подопечные
    </div>
    <div class="mentee__actions">
      <button mat-icon-button class="mentee__btn mentee__btn--archive" [routerLink]="['/archive-mentees']">
        <mat-icon>archive</mat-icon>
      </button>
      <button mat-button color="primary" class="mentee__btn" (click)="openAddMenteeDialog()">Добавить</button>
    </div>
  </div>
  <div class="mentee__body">
    <table mat-table [dataSource]="dataSource" matSort class="mentee__table">
      <ng-container matColumnDef="surname">
        <th mat-header-cell class="mentee__column mentee__column--surname"  *matHeaderCellDef mat-sort-header>Фамилия</th>
        <td mat-cell class="mentee__cell mentee__cell--surname" *matCellDef="let mentee"> {{mentee.surname}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell class="mentee__column mentee__column--name"  *matHeaderCellDef mat-sort-header>Имя</th>
        <td mat-cell class="mentee__cell mentee__cell--name" *matCellDef="let mentee"> {{mentee.name}}</td>
      </ng-container>
      <ng-container matColumnDef="age">
        <th mat-header-cell class="mentee__column mentee__column--age"  *matHeaderCellDef mat-sort-header>Возраст</th>
        <td mat-cell class="mentee__cell mentee__cell--age" *matCellDef="let mentee"><span class="mobile-description">Возраст: </span>{{mentee.age}}
          <span class="mobile-description">лет</span></td>
      </ng-container>
      <ng-container matColumnDef="currentCourse">
        <th mat-header-cell class="mentee__column mentee__column--currentCourse"  *matHeaderCellDef mat-sort-header>Текущий курс</th>
        <td mat-cell class="mentee__cell mentee__cell--currentCourse" *matCellDef="let mentee"><span
          class="mobile-description"
        >Текущий курс: </span>{{mentee.activeCourse?.name ?? 'Входной тест'}}</td>
      </ng-container>
      <ng-container matColumnDef="progress">
        <th mat-header-cell class="mentee__column mentee__column--progress"  *matHeaderCellDef mat-sort-header>Прогресс</th>
        <td mat-cell class="mentee__cell mentee__cell--progress" *matCellDef="let mentee"><span
          class="mobile-description"
        >Прогресс: </span>{{calculateProgress(mentee.activeCourse)}}%
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell  class="mentee__column mentee__column--actions"  *matHeaderCellDef>Действия</th>
        <td mat-cell class="mentee__cell mentee__cell--actions" *matCellDef="let mentee">
          <button
            *ngIf="!calculateProgress(mentee.activeCourse)" class="mentee__action-btn" mat-stroked-button
            color="accent" type="button" (click)="$event.stopPropagation()"
          >Пройти тест
          </button>
          <button
            *ngIf="calculateProgress(mentee.activeCourse)===100" class="mentee__action-btn" mat-stroked-button
            type="button"
            (click)="$event.stopPropagation()"
          >Динамический тест
          </button>
          <button
            *ngIf="calculateProgress(mentee.activeCourse) > 0 && calculateProgress(mentee.activeCourse) < 100"
            class="mentee__action-btn" mat-stroked-button type="button"
            (click)="$event.stopPropagation()"
          >Запустить VR
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr style="cursor: pointer" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateToMenteePage(row.id)"></tr>
    </table>
  </div>
</div>
