.session__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.session__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 25px;
  padding: 5px 20px;
  margin-bottom: 5px;

}

.session__title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .session__actions {
    flex-direction: column;
  }
}
