<div class="session__wrap">
  <div class="session__title">
    Текущие сессии
  </div>
  <div class="session__body" *ngFor="let session of sessions.session$.value">
    <div class="session__info">{{session.userName}} проходит курс {{session.courseId}} - {{session.courseName}}. Результат: {{calculateCompletionPercentage(session)}}, {{session.finishedTasksCount}} задания из {{session.totalTasksCount}}.</div>
    <div class="session__actions">
      <div class="session__action session__action--signal">
        <mat-icon>network_wifi</mat-icon>
      </div>
      <button mat-icon-button color="primary" class="session__action session__action--start">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-icon-button color="accent" class="session__action session__action--stop">
        <mat-icon>stop</mat-icon>
      </button>
    </div>
  </div>
</div>
