<button mat-button color="primary" [matMenuTriggerFor]="menu">
  <mat-icon  class="menu__icon">menu</mat-icon>
  <span class="menu__icon-text">{{userService.currentUser?.name || 'Menu button'}}</span>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Связаться с нами</button>
  <button mat-menu-item (click)="logout()">Выход</button>
</mat-menu>
