<div class="footer__wrap" *ngIf="!isLoginPageOrRegisterPage">
  <button mat-button class="footer__btn">Оплата</button>
  <button mat-button class="footer__btn" [routerLink]="['/courses']" target="_blank">Курсы</button>
  <button mat-button class="footer__btn">Связаться с куратором</button>
</div>
